<%- include('partials/header') %>
<article class="panel narrow">
  <span class="tag type"><%= post.type %></span>
  <h1><%= post.title %></h1>
  <p class="meta">by <%= post.author %> &middot; <%= post.published_at ? new Date(post.published_at).toISOString().slice(0,10) : '' %></p>
  <% if (post.image_id) { %><img src="/media/<%= post.image_id %>" class="media" alt=""><% } %>
  <% if (post.type==='video' && post.video_url) { %><div class="video-wrap"><iframe src="<%= embedUrl(post.video_url) %>" frameborder="0" allowfullscreen></iframe></div><% } %>
  <div class="prose"><%= post.body %></div>
</article>
<%- include('partials/footer') %>
